/* importo el font */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* configuro algunos parámetros generales del CSS */
:root {
  /* defino la fuente general para Bootstrap*/
  font-family: "Ubuntu", cursive;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /*definir variables. Solo como recordatorio de los colores, uso los valores hexadecimales en Bootstrap*/
  --texto-blanco: #ffffff;
  --color-primario: #9f3647;
  --fondo-negro: #0a0a0a;
  --gris: #808080;
}

/* configuro el color del navbar */
.custom-navbar-bg {
  background-color: #9f3647 !important;
}

/* configuro la altura del navbar */
.navbar {
  min-height: 10vh; /* Establece la altura mínima del navbar a 10vh */
}

/* configuro el formato del del logo y el texto del navbar */
.navbar-brand {
  font-size: 1.2rem;
  margin-left: 30px;
  font-weight: bold !important;
}

/* configuro el formato del boton de inicio a la session */
.btn-session {
  background-color: black !important;
  font-size: 1.2rem;
  padding: 7px;
  margin-right: 30px;
}

/* configuro el formato de los otros dos botones */
.btn-danger {
  margin-right: 30px;
  font-size: 1.2rem;
  padding: 7px;
}

/* configuro que pasa cuando hago hover en los botones */
.btn-danger:hover {
  background-color: #9f3647 !important;
  background-origin: inherit;
  box-shadow: 1px 1px 1px 1px #0a0a0a !important;
}

/* configuro que pasa cuando hago hover en el botón de sesión */
.btn-session:hover {
  background-color: #9f3647 !important;
  background-origin: inherit;
  box-shadow: 1px 1px 1px 1px #0a0a0a !important;
}

/* Configuro el boton de registro */
.btn-registrate {
  background-color: #9f3647 !important;
  font-size: 1.2rem;
  border: none;
  padding:12px 35px 12px 35px;
  font-weight: 600;
  transition: box-shadow 0.5s;
  transition: transform 0.5s;
}

/* configuro que pasa cuando hago hover en el boton registrate */
.btn-registrate:hover {
  background-color: #9f3647 !important;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5) !important;
  transform: scale(0.95); /* Reducir el tamaño al 95% */
}

/* configuro el estilo del texto de búsqueda */
.texto-busqueda{
  color: white; 
  font-weight: 500;
  margin-top: 7rem;
}

/* configuro el boton de búsqueda */
.btn-buscar {
  background-color: #9f3647 !important;
  font-size: 1.2rem;
  color: white;
  border: 2px solid white; /* Agregar borde blanco de 2px */
  padding:12px 25px 12px 25px;
  font-weight: 500;
}

/* configuro que pasa cuando hago hover en el boton registrate */
.btn-buscar:hover {
  background-color: #9f3647 !important;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5) !important;
  transform: scale(0.95); /* Reducir el tamaño al 95% */
}

/* Cambio el tamaño de la fuente de los placeholders  */
input::placeholder {
  font-size: 1.2rem; /* Tamaño de fuente deseado */
}

/* CSS personalizado para reducir la longitud del campo de búsqueda en pantallas más pequeñas */
@media (max-width: 768px) {
  .form-control {
      width: 50%; /* Porcentaje del ancho de la pantalla */
      max-width: 300px; /* Máximo ancho para evitar que el campo se extienda demasiado */
  }
}
 
/* configuro el estilo del texto de tendencias */
.texto-tendencias{
  color: white; 
  font-weight: 500;
  margin-top: 0.1rem;
}

/* Configuro las imágenes de las peliculas */
.pelicula {
  width: 200px; 
  height: 300px;
  border-radius: 10px; /* Agrega un borde redondeado */
  transition: transform 0.4s, filter 0.4s, box-shadow 0.4s; /* Transiciones suaves */
}

/* Efecto al hacer hover sobre la imagen en pantallas grandes */
.pelicula:hover {
  transform: scale(0.9); /* Reduce el tamaño un 10% */
  filter: blur(10px); /* Aplica un blur */
  box-shadow: 0 0 20px 5px rgba(159, 54, 71, 0.8); /* Agrega una sombra más amplia con color rgba(159, 54, 71, 0.8) */
}

/* Media query para aumentar el tamaño de la imagen en pantallas extra pequeñas */
@media (max-width: 576px) {
  .pelicula {
    transform: scale(1.2); /* Aumenta el tamaño en un 20% manteniendo el aspect ratio */
    transition: transform 0.4s; /* Agrega una transición suave al cambio de tamaño */
    margin-bottom: 100px;
  }

  /* Efecto al hacer hover sobre la imagen en pantallas extra pequeñas */
  .pelicula:hover {
    transform: scale(1); /* Mantiene el mismo tamaño al hacer hover */
    filter: blur(10px); /* Aplica un blur */
    box-shadow: 0 0 20px 5px rgba(159, 54, 71, 0.8); /* Agrega una sombra más amplia con color rgba(159, 54, 71, 0.8) */
  }
}

/* Agrego el texto cuando hago foco en la imagen*/
.overlay-box {
  position: relative;
  margin-bottom: 80px !important;
  /* height: 300px; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /*  *overflow: hidden; Para ocultar cualquier contenido que se salga de la caja */ 
  
}

.overlay-box .image {
  filter: blur(5px); /* Agrega el desenfoque a la imagen */
  transition: filter 0.3s ease; /* Agrega una transición suave al desenfoque */
}

.overlay-box:hover .image {
  filter: blur(5px); /* Mantiene el desenfoque al hacer hover */
}

.overlay-box .desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  padding: 10px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  transition: opacity 0.3s ease;
}

.overlay-box:hover .desc {
  opacity: 1; /* Muestra el texto al hacer hover */
}

/* Configuro el boton de tendencias */
.btn-tendencias {
  background-color: #9f3647 !important;
  font-size: 1.2rem;
  border: white solid 1px;
  padding:20px 25px 20px 25px;
  font-weight: 400;
  max-width: fit-content;
  margin-bottom: 100px;
  transition: box-shadow 0.5s;
  transition: transform 0.5s;
}

/* configuro que pasa cuando hago hover en el boton tendencias */
.btn-tendencias:hover {
  background-color: #9f3647 !important;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5) !important;
  transform: scale(0.95); /* Reducir el tamaño al 95% */
  border: white solid 1px;
}

/* configuro el estilo del texto de aclamadas */
.texto-aclamadas{
  color: white;
  font-size: 2.7rem;
  font-weight: 500;
}

/* Configuro las imágenes de aclamadas */
.carousel-item > img {
  border-radius: 10px; /* Redondear los bordes de las imágenes */
  width: 15%; /* Ajustar el ancho de las imágenes */
  min-width: 200px;
}

/* configuro los formatos de los botones de footer*/
.btn-session-footer {
  background-color: black !important;
  font-size: 1.2rem;
  padding: 7px;
}

.btn-danger-footer {
  margin-right: 30px;
  font-size: 1.2rem;
  padding: 7px;
}

 /* Estilos para el ícono fijo- */
 .fixed-icon {
  color: white;
  font-size: 2.5rem;
  position: fixed;
  bottom: 20px; /* Ajusta la distancia desde la parte inferior */
  right: 20px; /* Ajusta la distancia desde la derecha */
  cursor: pointer;
  z-index: 999; /* Asegura que esté por encima de otros elementos */
}


/* Para hacer girar el ícono fijo- */
.girar {
  transition: transform 0.5s; /* Agrega transición suave para la rotación */
}

/* Efecto de rotación al hacer hover sobre el icono */
.girar:hover {
  transform: rotate(360deg) ; /* Rotación completa al hacer hover */
}
