/* importo el font */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* configuro algunos parámetros generales del CSS */
:root {
  /* defino la fuente general para Bootstrap*/
  font-family: "Ubuntu", cursive;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;

  /*definir variables. Solo como recordatorio de los colores, uso los valores hexadecimales en Bootstrap*/
  --texto-blanco: #ffffff;
  --color-primario: #9f3647;
  --fondo-negro: #0a0a0a;
  --gris: #808080;
}

/* configuro el estilo del texto de registro */
.texto-registro{
    color: white; 
    font-weight: 500;
    font-size: 2.5rem;
    text-align: left;
    margin-bottom: 1rem;
  }

.texto-ayuda{
    color:gray; 
    font-size: 1rem;
    text-align: left;
    text-decoration: none;
}

.registrarse-forma{
  background-color: #1d1d1d;
  padding:120px 100px 120px 100px;
  margin-top: 30px;
}
  
  